
<div class="flex justify-end m-5">
  <button class="bg-cyan-400 hover:bg-cyan-500 animate-bounce text-white font-light py-1 px-4 rounded-full border-red-400 border-2" (click)="isTwelveFormat = !isTwelveFormat">
    {{isTwelveFormat ? "24 hour" : "12 hour"}}
  </button>
</div>

<div class="flex justify-center mt-40 mb-10">
  <div class="bg-cyan-400  text-white w-1/2 p-24  md:shadow-xl md:shadow-red-400 shadow-2xl rounded-xl">
    <div class="font-extrabold text-7xl">{{getCurrentTime}} <span class="text-3xl">{{AmOrPm}}</span></div>
  </div>
</div>
<div class="flex justify-center text-cyan-400 font-bold text-xl hover:text-red-500">{{getCurrentday}} , {{getCurrentDate}} {{getCurrentMonth}} {{getCurrentFullYear}}</div>

